# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]in/
[Oo]bj/
[Dd]ebug.b/
*.pdb

# Visual Studio cache/options
*.suo
*.user
*.sln.docstates

# Backup files
Backup/

# Logs
*.log

